<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bjsxt.mapper.UsersMapper" >

    <insert id="insertUser" parameterType="com.bjsxt.pojo.Users">
        insert into users(username,userage) values(#{username},#{userage})
    </insert>

    <select id="selectUserAll" resultType="com.bjsxt.pojo.Users">
        select * from users
    </select>
</mapper>